.cancel-flight {
    text-decoration: line-through;
}

.row-flight th{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.red {
    color: red;
}